body{
    margin: 0px;
    background-color:antiquewhite;
    font-family: 'PT Serif', serif;
}

@media screen and (max-width: 900px){
    body{
        font-size: 80%;
    }
}


/*-----------------------------------*/

header{
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color:coral;
    background-size: cover;
}

@media screen and (max-width: 900px){
    header{
        height: 150px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background-color:coral;
        background-size: cover;
    }
}

#hd_img_1, #hd_img_2{
    height: 100%;
    width: 25%;
}

#hd_img_1 img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 900px){
    #hd_img_1 img{
        height: 0%;
        width: 0%;
    }
}

#hd_img_2 img{
    height: 100%;
    width: 100%;
    transform:scaleX(-1);
}

@media screen and (max-width: 900px){
    #hd_img_2 img{
        height: 0%;
        width: 0%;
    }
}

#hd_text{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

@media screen and (max-width: 900px){
    #hd_text{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
}

#hd_text a{
    text-decoration: none;
    color: black;
}


/*-----------------------------------*/

section{
    padding: 40px;
    height: 510px;
    display: flex;
    justify-content: center;
    background-color:blanchedalmond;
}

@media screen and (max-width: 900px){
    section{
        height: 500px;
    }
}

#log-box{
    padding: 10px;
    border-radius: 20px;
    height: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:lightseagreen;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 900px){
    #log-box{
        height: auto;
        width: 80%;
    }
}

#credentials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

@media screen and (max-width: 900px){
    #credentials{
        height: auto;
    }
}

label{
    margin-bottom: 10px;
    font-size: 20px;
}

#username, #password{
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    border-radius: 20px;
    height: 25px;
    width: 50%;
}

@media screen and (max-width: 900px){
    #username, #password{
        width: 60%;
    }
}

#accedi-bt{
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    height: 30px;
    width: 15%;
    font-weight: bold;
}

@media screen and (max-width: 900px){
    #accedi-bt{
        width: 25%;
    }
}

#accedi-bt:hover{
    border: 2px solid black;
    transform: scale(1.1);
}

#red-box{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#red-box p.error{
    display: inline-block;
    color: rgb(207, 3, 3);
    font-weight: bold;
}


#red-box p{
    display: inline-block;
}

@media screen and (max-width: 900px){
    #red-box p{
        height: auto;
        text-align: center;
    }
}

#red_registrati{
    margin-left: 10px;
    text-decoration: none;
}


/*-----------------------------------------*/

footer{
    height: 80px;
    background-color: black;
}